# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/.env

# PlatformIO
firmware/.pio/
firmware/.vscode/

# OS
.DS_Store
*.swp

# IDE
.idea/
.vscode/
